extends layout

block content
  script.
    function load(){
      console.log("cared")
    }
  style.
    a{
      height:30px;
      font-size:12px !important;
      margin:4px;
    }
    .item{
      position:fixed;
      bottom:0;
      z-index:-100
    }
    .img1{
      right:30;
    }
    .img2{
      right:30px;

    }
    body{
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommunitycollegesusa.com%2Fen%2Fschools%2Fp%2Fmo012%2Fnorthwest-missouri-state-university&psig=AOvVaw0sp8OVoYXMF1DC6cDQjY1M&ust=1682456545759000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCJiTwpi1w_4CFQAAAAAdAAAAABAE);
      //-  background:black;
       background-size:cover;

      
      height:100vh;
      background-repeat:no-repeat;
    }
    p{
      text-align:center;
      width:100%;
    }
    .row{
      display:flex;
      justify-content:center
    }
    h3{
      text-align:center;
      width :100%;
    }
    h1{
      color:white;
      text-shadow:1px 1px 12px lightgrey;
    }
    #buttons{
      border-radius:10px;
      width:100%;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly
    }
    .center{
      text-align:center;
      position:relative;
      top:50%;
      transform:translateY(-50%);
    }
  .center
    h1= title
    a(class='btn btn-primary' href=`/Student/create`) Create new Student Instance
    .container-fluid(onload='load()')
      .row 
        each Student,key in results
          div(class="col-sm-2" style=`margin:5px;border-radius:12px;text-align:center;background:white;border:solid 2px black;display:flex;flex-direction:row;flex-wrap:wrap` onclick=`buy(${key})`) 
              h3= Student.Stu_Name
              div#buttons
                a(class='btn btn-warning' href=`/Student/detail/?id=${Student._id}`) Details
                a(class='btn btn-success' href=`/Student/update/?id=${Student._id}`) Update
                a(class='btn btn-danger' href=`/Student/delete/?id=${Student._id}`) Delete
  script.
    function load(){
      console.log("cared")
    }
